@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
    padding: 30px 100px 50px 100px;
    text-align: center;
    background-color: #D78B93;
}

button, input.sbm-btn{
    border: none;
    background-color: black;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 5px;
}

button:hover, input.sbm-btn:hover {
    background-color: #282828;
    color: #D78B93;
}

h1 {
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}

select {
    border: none;
    background-color: #efefef;
    margin: 10px;
    font-size: 16px;
}

a {
    font-size: 18px;
    margin: 0px 10px;
    color: black;
    text-align: left;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: aqua;
}

a:active{
    text-decoration: none;
}

span {
    font-size: 20px;
    margin: 0px 10px;
}

option{
    font-size: 12px;
}

img{
    width: 400px;
    height: 280px;
    margin: 20px 0px;
}

.menu{
    padding: 20px 0px;
}

.disabled{
    font-size: 30px;
}

/*Cabinet User*/

.dish-cab{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.dish-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.dish-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-nav *{
    width: 1fr;
}

.dish-cab-form button{
    width: 50px;
}


