.dish-cab{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.dish-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.dish-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dish-nav *{
    width: 1fr;
}

.dish-cab-form button{
    width: 50px;
}